<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <script type="text/javascript" src="static/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="static/gmap.js"></script>
	<script type="text/javascript" src="static/search.js"></script>
    <script type="text/javascript">
        var map;
		var latitude = 45.49981;
		var longitude = -73.6199;
		
        $(document).ready(function(){
            map = new GMaps({
                div: '#map',
                lat: latitude,
                lng: longitude,
                height: '100px'
            });
        });
		
		function geoLocation(){
			GMaps.geolocate({
                success: function(position) {
					latitude = position.coords.latitude;
					longitude = position.coords.longitude;
                    map.setCenter(latitude, longitude);
                },
                error: function(error) {
                    alert('Geolocation failed: '+error.message);
                },
                not_supported: function() {
                    alert("Your browser does not support geolocation");
                }
            });
		}
		
		function optionChange(sel) {
			var text = sel.options[sel.selectedIndex].text;
			if(text === "My Location") {
				geoLocation();
			}
		}
    </script>
    <link rel="stylesheet" type="text/css" href="static/base.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>FEED.ME - the *ultimate* restaurant finder</title>
</head>
<body>
<div id="content">
	<div id="left">
		<div id="logo"><img src="static/images/logo.png" alt="Logo" />
		</div>
		
		<div id="results">

		
		</div>
	</div>
	<div id="right">
		<div id="fields">
			<input type="text" value="enter a category">
			<select id="boroughs" data-placeholder="Choose a borough..."  onchange="optionChange(this)">
				<option>Ahuntsic-Cartierville</option>
				<option>Anjou</option>
				<option>Côte-des-Neiges–Notre-Dame-de-Grâce</option>
				<option>Lachine</option>
				<option>LaSalle</option>
				<option>Le Plateau-Mont-Royal</option>
				<option>Le Sud-Ouest </option>
				<option>L’Île-Bizard–Sainte-Geneviève</option>
				<option>Mercier–Hochelaga-Maisonneuve</option>
				<option>Montréal-Nord</option>
				<option>Outremont</option>
				<option>Pierrefonds-Roxboro</option>
				<option>Rivière-des-Prairies–Pointe-aux-Trembles</option>
				<option>Rosemont–La Petite-Patrie</option>
				<option>Saint-Laurent</option>
				<option>Saint-Léonard</option>
				<option>Verdun</option>
				<option>Ville-Marie</option>
				<option>Villeray–Saint-Michel–Parc-Extension</option>
				<option>My Location<option>
			</select>
		</div>
		
		<div id="map"> MAP!!
		</div>
	</div>
</div>
</body>
</html>