<h1>Restaurants</h1>
<div id="accordion">
<ul>
{#    {{ yellow|default:"not found" }}#}
    {% for business in yellow %}
    <li id="{{ business.address.pcode }}"><a href="#">{{ business.name }}</a></li>
        <div>{% for k,v in business.address.iteritems %}
            {{ k }} : {{ v }} <br/>
        {% endfor %}</div>
    {% endfor %}

    <script type="text/javascript">
        $('#map').gmap3(
                {action: 'addMarkers',
                markers: [
        {% for business in yellow %}
            { lat : {{ business.geoCode.latitude }},
              lng : {{ business.geoCode.longitude }},
              data: '{{ business.address.pcode }}'},
        {% endfor %}
                ],
                    marker: {
                        options: {
                            draggable: false
                        },
                        events:{
                            click: function(marker, event, data){
                                $('#accordion').accordion('option', 'active', "'#"+ data +"'");

//                                var map = $(this).gmap3('get'),
//                                        infowindow = $(this).gmap3({action:'get', name:'infowindow'});
//                                if (infowindow){
//                                    infowindow.open(map, marker);
//                                    infowindow.setContent(data);
//                                } else {
//                                    $(this).gmap3({action:'addinfowindow', anchor:marker, options:{content: data}});
//                                }
                            }
                        }
                }},'autofit');
        $('#accordion').accordion({
            header: 'li',
            change: function (event, ui) {
                $.getJSON('search-wajam/' + ui.newHeader.attr('id'), function(data) {
                    $(document).ready(function(){
                        $("#wajam_content").agile_carousel({
                            carousel_data: data,
                            carousel_outer_height: 228,
                            carousel_height: 228,
                            slide_height: 230,
                            carousel_outer_width: 480,
                            slide_width: 480,
                            transition_time: 300,
                            timer: 4000,
                            continuous_scrolling: true,
                            control_set_1: "numbered_buttons",
                            no_control_set: "hover_previous_button,hover_next_button"
                        });
                    });
                });
        });
    </script>
</ul>
</div>
<h1>What your friends said</h1>
<div id="wajam_content">
</div>
<h1>What the law said</h1>
<div id="restonet_content">
<ul>
    <li>In vitae dui at dui sodales condimentum</li>
    <li>Integer imperdiet mauris nec risus aliquet vitae bibendum massa commodo.</li>
    <li>Aenean eget neque eu tellus semper ornare</li>
</ul>
</div>