Emplacement: {{ place }}<br/>
{% if total_found %}
    Total : {{ total_found }}<br/>
{% else %}
    No result found
{% endif %}


<h1>Restaurant name</h1>
<ul>
    <li>In vitae dui at dui sodales condimentum</li>
    <li>Integer imperdiet mauris nec risus aliquet vitae bibendum massa commodo.</li>
    <li>Aenean eget neque eu tellus semper ornare</li>
</ul>
<h1>What your friends said</h1>
<ul>
    <li>In vitae dui at dui sodales condimentum</li>
    <li>Integer imperdiet mauris nec risus aliquet vitae bibendum massa commodo.</li>
    <li>Aenean eget neque eu tellus semper ornare</li>
</ul>
<h1>What the law said</h1>
<ul>
    <li>In vitae dui at dui sodales condimentum</li>
    <li>Integer imperdiet mauris nec risus aliquet vitae bibendum massa commodo.</li>
    <li>Aenean eget neque eu tellus semper ornare</li>
</ul>